@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 100;
}
section{
    position:relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}