@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

h1{
    text-align: inherit;
}
/* -#051622 */
.navbar{
    background-color: #a9dce3;
    color: white;
    /*border-bottom: 0.5px solid gray;*/
    width: 100%;
    line-height: 80px;
    height: 80px;
    font-size: 18px;
    padding: 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Poppins';
}

.navbar .nav-logo{
    animation: movedown 1s linear 1;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes movedown{
    0%{
        transform: translateY(-100px);
        visibility: visible;
    }
    100%{
        transform: translateY(0);
        visibility: visible;
    }
}

.navbar a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: 'Poppins';
}

/*#DEB992 and #22577A*/
.navbar a.nav-logo{
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 70px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Poppins';
    color: #7689de;
    font-weight: bold;
}

.navbar ul{
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 50px;
    transition: 0.6s ease;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
    font-weight: 200;
 
}


/*#0a403c*/
.navbar ul li a:hover{
    background-color: #6A98BF;
}
/* -#051622 and #22577A - main*/
body{
    background-color: #a9dce3;
}

/*#DEB992 and #22577A*/
.content{
    font-family: 'Poppins';
    color: #171010;
    margin: 30%;
    margin-left: 100px;
    
}

h1{
    font-size: 80px;
}

.p2 span{
    color: #7689de;
    font-weight: bold;
    white-space: pre-line;
}

p{
    margin-top: 5px;
    text-align: justify;
    color: white;
    font-size: 25px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content .btns{
    font-size: large;
    
}

/*background-#1BA098 color-#191919*/
.btns{
    margin-top: 15px;
    background: #7689de;
    cursor: pointer;
    color: #191919;
    padding: 12px 30px;
    float: left;
    border: 0;
    border-radius: 20px;
    margin-left: 10px;
}

.btns:hover{
    background: #6A98BF;
    transition: 0.5 all ease;
}

img{
    margin-top: 5px;
    margin-left: 30px;
    width: 900px;
    margin-bottom: auto;
    animation: zoomin 1s linear 1;
    animation-delay: 0.5s;
    visibility: hidden;
    animation-fill-mode: forwards;
    /*max-height: 500px;
    max-width: 900px;
    float: right;*/
}

@keyframes zoomin{
    0%{
        transform: scale(0.5);
        visibility: visible;
    }
    100%{
        transform: (1);
        visibility: visible;
    }
}

img:hover{
    transition: 3s;
    cursor:pointer;
}

@media(max-width: 768px) {

	.navbar{
		display: none;
	}

	.navbar{
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
  .navbar{
    grid-template-columns: 1fr;
  }
  
  .navbar{
    grid-column: 1 / 2;
  }

	.navbar {
		align-self: flex-start;
	}
}

@media(max-width: 768px) {

	.navbar .nav-logo{
		display: none;
	}

	.navbar .nav-logo{
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
    .navbar .nav-logo{
    grid-template-columns: 1fr;
  }
  
  .navbar .nav-logo{
    grid-column: 1 / 2;
  }

  .navbar .nav-logo {
		align-self: flex-start;
	}
}

@media(max-width: 768px) {

	.navbar a{
		display: none;
	}

	.navbar a{
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
    .navbar a{
    grid-template-columns: 1fr;
  }
  
  .navbar a{
    grid-column: 1 / 2;
  }

  .navbar a{
		align-self: flex-start;
	}
}

@media(max-width: 768px) {

	.navbar a.nav-logo{
		display: none;
	}

	.navbar a.nav-logo{
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
    .navbar a.nav-logo{
    grid-template-columns: 1fr;
  }
  
  .navbar a.nav-logo{
    grid-column: 1 / 2;
  }

  .navbar a.nav-logo{
		align-self: flex-start;
	}
}

@media(max-width: 768px) {

	.navbar ul li a{
		display: none;
	}

	.navbar ul li a{
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
    .navbar ul li a{
    grid-template-columns: 1fr;
  }
  
  .navbar ul li a{
    grid-column: 1 / 2;
  }

  .navbar ul li a{
		align-self: flex-start;
	}
}

@media(max-width: 768px) {

	body{
		display: none;
	}

	body{
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
    body{
    grid-template-columns: 1fr;
  }
  
  body{
    grid-column: 1 / 2;
  }

  body{
		align-self: flex-start;
	}
}

@media(max-width: 768px) {

	.content{
		display: none;
	}

	.content{
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
    .content{
    grid-template-columns: 1fr;
  }
  
  .content{
    grid-column: 1 / 2;
  }

  .content{
		align-self: flex-start;
	}
}

@media(max-width: 768px) {

	h1{
		display: none;
	}

	h1{
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
    h1{
    grid-template-columns: 1fr;
  }
  
  h1{
    grid-column: 1 / 2;
  }

  h1{
		align-self: flex-start;
	}
}

@media(max-width: 768px) {

	p{
		display: none;
	}

	p{
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
    p{
    grid-template-columns: 1fr;
  }
  
  p{
    grid-column: 1 / 2;
  }

  p{
		align-self: flex-start;
	}
}

@media(max-width: 768px) {

	.btns{
		display: none;
	}

	.btns{
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
    .btns{
    grid-template-columns: 1fr;
  }
  
  .btns{
    grid-column: 1 / 2;
  }

  .btns{
		align-self: flex-start;
	}
}

@media(max-width: 768px) {

	img{
		display: none;
	}

	img{
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
    img{
    grid-template-columns: 1fr;
  }
  
  img{
    grid-column: 1 / 2;
  }

  img{
		align-self: flex-start;
	}
}

@media(max-width: 768px) {

	.p2{
		display: none;
	}

	.p2{
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
    .p2{
    grid-template-columns: 1fr;
  }
  
  .p2{
    grid-column: 1 / 2;
  }

  .p2{
		align-self: flex-start;
	}
}

@media(max-width: 768px) {

	.p2 span{
		display: none;
	}

	.p2 span{
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
    .p2 span{
    grid-template-columns: 1fr;
  }
  
  .p2 span{
    grid-column: 1 / 2;
  }

  .p2 span{
		align-self: flex-start;
	}
}

section{
  background-color: white;
}
  .hp2{
    display: inline-flex;
}

.hp2 .pic1 img{
    height: 450px;
    width: 300px;
    margin: 5%;
    border-radius: 15px;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.7);
}

.hp2 .text1{
    margin: 60px;
}

.hp2 .text1 h1{
    font-size: 30px;
}

.hp2 .text1 h1 span{
  text-align: center;
}

.hp2 .text1 p{
    font-size: 20px;
    color: #000;
    font-family: 'Poppins';
}

.hp2 .text1 button{
    margin: 30px;
    height: 30px;
    width: 200px;
    background: deepskyblue;
    color: white;
    border: 2px solid deepskyblue;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s;
}

.hp2 .text1 button:hover{
    background: #a9dce3;
    color: #7689de;

}

.hp3 .text2{
  font-size: 10px;
}

.text1 p{
  color: #000;
}

.text3{
    margin: 5%;
}

.text3 h1{
    font-size: 32px;
}

.text3 p{
    font-size: 20px;
    color: #000;
}

.skill{
    display: inline-flex;
    margin-left: 5%;
}

.skill .text2 h1 span{
  font-size: 30px;
}

.skill .box{
    border: 4px solid #7689de;
    height: 200px;
    width: 200px;
    margin: 30px;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.7);
}

.skill .box:hover{
    transform: translateY(-5%);
    transition: 0.5s;

}

.skill .box .circle{
    border: 4px solid #7689de;
    height: 80px;
    width: 80px;
    transform: translate(50px,50px);
    border-radius: 50px;
}

.skill .box .circle h1{
    padding: 20px;
    font-size: 20px;
}

.skill .box h2{
    position: relative;
    text-align: center;
    top: 70px;
}

.skill img{
    height: 250px;
    width: 400px;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.7);
}

@media(max-width: 768px) {

	.skill .box .circle{
		display: none;
	}

	.skill .box .circle{
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
    .skill .box .circle{
    grid-template-columns: 1fr;
  }
  
  .skill .box .circle{
    grid-column: 1 / 2;
  }

  .skill .box .circle{
		align-self: flex-start;
	}
}

@media(max-width: 768px) {

	.skill img{
		display: none;
	}

	.skill img{
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
    .skill img{
    grid-template-columns: 1fr;
  }
  
  .skill img{
    grid-column: 1 / 2;
  }

  .skill img{
		align-self: flex-start;
	}
}

.glarry{
    text-align: center;
    margin: 50px;
}

.glarry .images{
    margin: 20px;
    display: inline-flex;
}

.glarry .images img{
    height: 300px;
    width: 400px;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.7);
}

.glarry .images img:hover{
    transform: translateY(-5%);
    transition: 0.5s;
}

.glarry .images1{
    margin: 20px;
    display: inline-flex;

}

.glarry .images1 img{
    height: 200px;
    width: 300px;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.7);
}

.glarry .images1 img:hover{
    transform: translateY(-5%);
    transition: 0.5s;
}

footer{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    color: #999;
}

footer p{
    font-size: medium;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("iamme.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #000;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #7689de;
	color: rgb(46, 43, 43);
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #6A98BF;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

table{
    width: 800px;
    margin: auto;
    table-layout: fixed;
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins';
    color: #000;
}

table, th, td{
    border-collapse: collapse;
    padding: 20px;
    font-size: 20px;
    border: 1px solid black;
}

th{
    background: #fff;
    padding: 30px;
    text-align: uppercase;
    border: 2px solid;
}
